<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mimi.mimialarm">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".android.presentation.MimiAlarmApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icn"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity
            android:name=".android.presentation.view.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".android.presentation.view.AlarmDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_alarm_detail">
        </activity>

        <activity
            android:name=".android.presentation.view.AlarmOnActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".android.presentation.view.TimerOnActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".android.infrastructure.BootCompleteReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver android:name=".android.infrastructure.service.AlarmOnBroadcastReceiver" />
        <receiver android:name=".android.infrastructure.service.TimerOnBroadcastReceiver" />

        <service android:name=".android.infrastructure.service.TimerDeactivateService" />

    </application>

</manifest>